# Data Selection in Series

In [2]:
import pandas as pd

In [3]:
data=pd.Series([0.5,2.75,9.,7.6],index=['a','b','c','d'])
data

a    0.50
b    2.75
c    9.00
d    7.60
dtype: float64

In [5]:
data['b']

2.75

In [7]:
data.keys

<bound method Series.keys of a    0.50
b    2.75
c    9.00
d    7.60
dtype: float64>

In [8]:
list(data.items())

[('a', 0.5), ('b', 2.75), ('c', 9.0), ('d', 7.6)]

In [9]:
# slicing by explicit index
data['a':'c']

a    0.50
b    2.75
c    9.00
dtype: float64

In [10]:
# slicing by implicit integer index
data[0:2]

a    0.50
b    2.75
dtype: float64

In [11]:
# masking
data[(data > 0.3) & (data < 0.8)]

a    0.5
dtype: float64

In [12]:
# fancy indexing
data[['a', 'e']]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:851: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

a    0.5
e    NaN
dtype: float64

These slicing and indexing conventions can be a source of confusion. For example, if your Series has an explicit integer index, an indexing operation such as data[1] will use the explicit indices, while a slicing operation like data[1:3] will use the implicit Python-style index.

In [13]:
data=pd.Series(['a','b','c'],index=[1,2,3])
data

1    a
2    b
3    c
dtype: object

In [14]:
#explicit
data[1]

'a'

In [15]:
#implicit
data[1:3]

2    b
3    c
dtype: object

In [16]:
data.loc[1]

'a'

In [17]:
data.loc[1:3]

1    a
2    b
3    c
dtype: object

In [18]:
data.iloc[1]    #implicit

'b'

In [19]:
data.iloc[1:3]

2    b
3    c
dtype: object

# Data Selection in DataFrame

In [21]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data=pd.DataFrame({'area':area,'population':pop})
data

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135

In [22]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [29]:
data['density']=data['population'] / data['area']
data

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

# DataFrame as two-dimensional array

In [30]:
# using values attribute
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [31]:
# we can transpose the full DataFrame to swap rows and columns:
data.T

,California,Texas,New York,Florida,Illinois
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01