There are a number of schemes that have been developed to indicate the presence of missing data in a table or DataFrame. Generally, they revolve around one of two strategies: using a mask that globally indicates missing values, or choosing a sentinel value that indicates a missing entry.


With these constraints in mind, Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floating-point NaN value, and the Python None object. This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1=np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

If we perform aggregations like sum() or min() across an array with a None value, we will generally get an error:

In [3]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [4]:
vals2 = np.array([1, np.nan, 3, 4]) 
# NaN is a bit like a data virusâ€“it infects any other object it touches.
#Regardless of the operation, the result of arithmetic with NaN will be another NaN

In [6]:
1+np.nan , 0*np.nan

(nan, nan)

In [7]:
vals2.sum(), vals2.min(), vals2.max()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:32: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims, initial)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:28: RuntimeWarning: invalid value encountered in reduce
  return umr_maximum(a, axis, None, out, keepdims, initial)

(nan, nan, nan)

In [9]:
np.nansum(vals2),np.nanmin(vals2),np.nanmax(vals2)

(8.0, 1.0, 4.0)

# Operating on Null Values

1. isnull(): Generate a boolean mask indicating missing values
2. notnull(): Opposite of isnull()
3. dropna(): Return a filtered version of the data
4. fillna(): Return a copy of the data with missing values filled or imputed

In [10]:
data=pd.Series([3,4,np.nan,9])
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [12]:
data.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [13]:
data[data.notnull()]

0    3.0
1    4.0
3    9.0
dtype: float64

# Dropping Null Values

In [14]:
data.dropna()

0    3.0
1    4.0
3    9.0
dtype: float64

In [15]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

We cannot drop single values from a DataFrame; we can only drop full rows or full columns. Depending on the application, you might want one or the other, so dropna() gives a number of options for a DataFrame.

By default, dropna() will drop all rows in which any null value is present:

In [16]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [17]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

# Filling null values

In [18]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [19]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [20]:
#We can specify a forward-fill to propagate the previous value forward:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [21]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [22]:
df.fillna(method='ffill', axis=1)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0